<nav class="navbar navbar-static-top">
    <div ng-show="isLoggedIn()" class="navbar">
        <div class="container">
            <input id='searchbar' type="text" ng-model="searchText" placeholder="search">
            <div ng-show="user" class="buttons">
               <!-- <a href='profile'>{{ user.name }}</a> -->
               <img ng-click='logout()' ng-src='http://i.imgur.com/GF08E1B.png' />
               <img ng-click='addForm()' ng-src='http://i.imgur.com/Mk3RsG6.png' />
            </div>
        </div>
    </div>
</nav>