#home {
 	div {
	    text-align: center;
    }
    img {
        margin: 20px;
        width: 70px;
        border-radius: 50%;
    }
    input {
        height: 50px;
        width: 50%;
        margin: auto;
        margin-left: 25%;
        margin-top: 20%;
        border: none;
        background: white;
    }
    input[type=text] {
        background-image: url('http://i.imgur.com/jLDrMpU.png');
        background-position: 10px 10px;
        background-size: 30px; 
        background-repeat: no-repeat;
        padding-left: 45px;
    }
    input:focus{
        outline: none;
    }
}