#home {
 	div {
	    text-align: center;
    }
    h1 {
        font-size: 15em;
        color: black;
        text-shadow: 3px 3px #FF4DE9;
        border-top: 20px double black;
        border-bottom: 20px double black;
        width: 750px;;
        margin: auto;
        margin-top: 10%;
    }
    img {
        margin: 20px;
        width: 100px;
        border-radius: 50%;
        box-shadow: 2px 2px #FF4DE9;
    }
}