#home {
    div {
        text-align: center;
    }
    img {
        margin: 2%;
        width: 70px;
        border-radius: 50%;
    }
    .lets.eat {
        width: 300px;;
        background-color: rgba(0, 0, 0, 0.2);
        margin-top: 10%;
    }
    input {
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
        position: relative;
        background: transparent;
    }
    input[type=text] {
        font-size: 30px;
        border: 0;
        border-bottom: 5px solid #2F4F4F;
        outline: 0;
        background-image: url('http://i.imgur.com/jLDrMpU.png');
        background-position: 10px 10px;
        background-size: 30px; 
        background-repeat: no-repeat;
        padding-left: 50px;
        padding-bottom: 10px;
    }
    input:focus {
        outline: none;
    }
}