#foods {
	.buttons {
		float: right;
		margin: 20px 15px;
		width: 50px;
		cursor: pointer;
	}
	input {
		height: 50px;
		width: 55%;
		float: left;
		margin: 20px;
		position: relative;
		overflow: hidden;
		border: none;
		background-color: white;
	}
	input[type=text] {
	    background-image: url('http://i.imgur.com/jLDrMpU.png');
	    background-position: 10px 10px;
	    background-size: 30px; 
	    background-repeat: no-repeat;
	    padding-left: 45px;
	}
	input:focus{
	    outline: none;
	}
	.no-recipes {
		text-align: center;
	}
	div.navbar {
		margin: 0;
	}
	.everything {
		width: 80%;
		margin: auto;
	}
}

$modal-color: #9f9f9f;

div.modal-content {
	background-color: $modal-color;
	text-align: center;
	margin-top: 10%;
}

div.modal-dialog {
	width: 60%;
	margin: auto;
}

.food-form {
	width: 80%;
	margin: auto;
	background-color: $modal-color;
	.form-group {
		margin: 10px;
		background-color: $modal-color;
	}
	input {
		background-color: white;
		height: 50px;
	    text-align: center;
	    border: none;
	    border-radius: 0;
	}
	label {
		background-color: $modal-color;
		font-size: 20px;
		font-weight: normal;
	}
	.form-btn {
		margin: 10px;
		background-color: #e3e3e3;
		border: none;
	}
	.form-btn:hover, .form-btn:active {
		border: none;
		color: black;
	}
}