#foods {
	background: url('http://i.imgur.com/1gP2yR8.jpg') no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	.buttons {
		float: right;
		margin: 30px 15px;
		width: 50px;
		cursor: pointer;
	}
	input {
		float: left;
		background: transparent;
		width: 40%;
		margin: 30px;
	}
	input[type=text] {
		font-size: 20px;
		border: 0;
		border-bottom: 5px solid #2F4F4F;
		outline: 0;
		background-image: url('http://i.imgur.com/jLDrMpU.png');
		background-position: 5px 0px;
		background-size: 30px; 
		background-repeat: no-repeat;
		padding-left: 45px;
		padding-bottom: 10px;
	}
	input:focus {
	    outline: none;
	}
}

$modal-color: #2F4F4F;

div.modal-content {
	background-color: $modal-color;
	text-align: center;
	margin-top: 10%;
	color: white;
}

div.modal-dialog {
	width: 60%;
	margin: auto;
}

.food-form {
	width: 80%;
	margin: auto;
	padding-top: 20px;
	input {
		background-color: white;
		height: 50px;
	    text-align: center;
	    border: none;
	    border-radius: 0;
	    margin-bottom: 20px;
	}
	input[type='text'] {
		font-size: 20px;
	}
	.form-btn {
		margin-bottom: 10px;
		margin-bottom: 20px;
		border: 1px solid white;
		height: 40px;
		width: 80px;
		background: #2F4F4F;
	}
}