#foods {
	h1 {
		text-align: left;
		font-size: 60px;
        color: black;
        text-shadow: 3px 3px #FF4DE9;
	}
	.buttons {
		float: right;
		margin: 10px;
		width: 50px;
		border-radius: 50%;
        box-shadow: 2px 2px #FF4DE9;
		cursor: pointer;
	}
}

.food-form {
	padding-top: 80px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	.form-group {
		margin-top: 20px;
	}
	h1 {
		text-shadow: 1px 1px #FF4DE9;
	}
	label {
		font-size: 20px;
		font-weight: normal;
	}
	.form-btn {
		margin: 10px;
		background-color: transparent;
		border: 3px solid black;
		box-shadow: 2px 2px #FF4DE9;
	}
	.form-btn:hover, .form-btn:active {
		background-color: #FF4DE9;
		border: 3px solid black;
	}
}