.food {
    background: black;
    width: 350px;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    display: inline-block;
    position: relative;
    img {
        width: 350px;
        height: auto;
        top: 0;
        left: 0;
        border: 5px solid white;
        -webkit-box-shadow: 6px 6px 21px -1px rgba(143,143,143,1);
        -moz-box-shadow: 6px 6px 21px -1px rgba(143,143,143,1);
        box-shadow: 6px 6px 21px -1px rgba(143,143,143,1);
        display: block;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    img:hover {
        opacity: 0.5;
    }

    p {
        position: absolute;
        text-align: center;
        width: 80%;
        height: 0%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        color: white;
        font-size: 20px;
        margin-top: 50px;
    }

    .name:hover {
        color: #2F4F4F;
    }
    
    .heart {
        font-size: 40px;
        margin-top: 150px;
        margin-left: 30px;
    }

    .heart:hover {
        color: red;
    }
}