.img-wrap{
    width: 350px;
    height: 100%;
    margin: 20px 20px;
    position: relative;
    justify-content: space-around;
    img {
        width: 350px;
        height: auto;
        top: 0;
        left: 0;
        border: 5px solid white;
        -webkit-box-shadow: 6px 6px 21px -1px rgba(143,143,143,1);
        -moz-box-shadow: 6px 6px 21px -1px rgba(143,143,143,1);
        box-shadow: 6px 6px 21px -1px rgba(143,143,143,1);
    }
    .img-overlay{
        background-color: black;
        bottom: 0;
        opacity: 0;
        filter: alpha(opacity = 0);
        position: absolute;
        width: 340px;
        margin-left: 5px;
        margin-bottom: 5px;
        height: 30%;
        z-index: 1000;
        text-align: center;
        font-size: 90%;
        padding: 10px 40px 0 40px;
        .name {
            text-decoration: none;
            color: white;
            p {
                margin-bottom: 0px;
            }
        }
        .name:hover {
            color: #19d2d5;
        }
        .heart {
            font-size: 20px;
            cursor: pointer;
            color: white;
            text-align: center;
            width: 20px;
            margin-left: 47%;
            margin-bottom: 0;
        }
        .heart:hover {
            color: red;
        }
    }
}
.img-wrap:hover .img-overlay{
    opacity: 0.65;
    filter: alpha(opacity = 75);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}