.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    .container {
        padding: 0px;
    }
    img {
        width: 50px;
        cursor: pointer;
        margin-right: 10px;
    }
    .buttons {
        margin: 20px 15px;
        float: right;
    }
}