* {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}

#main {
  overflow: scroll;
}

.background {
	background: url('http://i.imgur.com/1gP2yR8.jpg') no-repeat center center fixed;
	background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

body {
  position: relative;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'foods/main';