* {
  font-family: 'Vast Shadow';
  box-sizing: border-box;
  background-size: cover;
  background-color: #FFFCAB;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'foods/main';