* {
  font-family: 'Vast Shadow';
  box-sizing: border-box;
  background-size: cover;
  background-color: #FFFCAB;
  background: url('http://i.imgur.com/3rhWM2y.jpg') no-repeat center center fixed;
  background-size: cover;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'form/main';
@import 'foods/main';